<a href="https://colab.research.google.com/github/SiddhantUke/PYTHON_REVISE/blob/main/SECT_5(28_MAP_Funtn_).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The map() Function in Python

The map() function applies a given function to all items in an input list (or any other iterable) and returns a map object (an iterator). This is particularly useful for transforming data in a list comprehensively.

map(function, iterable)

In [8]:
## 1ST METHOD

def square(x):
  return x*x

square(4)



## how we will do this in map functn

numbers=[1,2,3,4,5,6,7,8] ## want to apply above operation for this same operation how it will happend !


list(map(square,numbers))  ## for converting that map funtn  into list we haev to add listen before the syntax !

[1, 4, 9, 16, 25, 36, 49, 64]



---



---

In [10]:
## HERE WE APPLY LAMBDA FUNTN WITH MAP FUNCTN !

numbers=[1,2,3,4,5,6,7,8]

## instead of that we use lambda functn !

list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [12]:
## Can we map Multiple iterables !

## take each and every element and keep on addign them !

numbers1=[5,8,7]
numbers2=[7,7,9]

added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))

print(added_numbers)

[12, 15, 16]

In [13]:

## map() to convert a list of strings to integers
# Use map to convert strings to integers


str_numbers = ['1', '2', '3', '4', '5']

int_numbers = list(map(int, str_numbers)) ## type casting  made with this

print(int_numbers)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [14]:
words=['apple','banana','cherry']\

upper_word=list(map(str.upper,words))

print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [17]:
def get_name(person):
    return person['name']

people=[
    {'name':'Vegeta ','age':32},
    {'name':'Kakarot','age':33}
]
list(map(get_name,people))

['Vegeta ', 'Kakarot']

## Conclusion

The map() function is a powerful tool for applying transformations to iterable data structures. It can be used with regular functions, lambda functions, and even multiple iterables, providing a versatile approach to data processing in Python. By understanding and utilizing map(), you can write more efficient and readable code.