<a href="https://colab.research.google.com/github/SiddhantUke/PYTHON_REVISE/blob/main/SECTION_4_(22_DICTIONARIES).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##INBUILT DATA STRUCTURES IN PYTHON



---

## Dictionaries


Introduction to Dictionaries
Creating Dictionaries
Accessing Dictionary Elements
Modifying Dictionary Elements
Dictionary Methods
Iterating Over Dictionaries
Nested Dictionaries
Dictionary Comprehensions
Practical Examples and Common Errors



---

### Introduction to Dictionaries

Dictionaries are unordered collections of items. They store data in key-value pairs. Keys must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any type.

In [29]:
## Creating Dictionaries

empty_dict={} ## FOR THIS WE HAVE TO CREATE A FLOWER BRACKET !
print(type(empty_dict))




## 2ND WAYS

empty_dict=dict()
empty_dict

<class 'dict'>

{}

In [30]:
student={"name":"Krish","age":32,"grade":24}
print(student)
print(type(student))


## name / age / grade ----------. REPRESENTED KEY

{'name': 'Krish', 'age': 32, 'grade': 24}
<class 'dict'>

In [31]:
# Single key is Always used
student={"name":"Krish","age":32,"name":24} ## DO NOT CREATE  KEY WITH THE SAME NAME AND IF WE CREATE THEN THE LAST VALUE ACTUCALLY DISPLACED !
print(student)

{'name': 24, 'age': 32}



---

In [41]:

## accessing Dictionary Elements

student={"name":"kakarot","age":32,"grade":'A'}
print(student)

{'name': 'kakarot', 'age': 32, 'grade': 'A'}

In [35]:
## Accessing Dictionary elements

print(student['grade'])
print(student['age'])

## Accessing using get() method

print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name',"Not Available")) ## -------> its a default value that replaced the last name none value.

A
32
A
None
Not Available



---

In [36]:

## Modifying Dicitonary Elements

## Dictionary are mutable,so you can add, update or delete elements


print(student)

{'name': 'Krish', 'age': 32, 'grade': 'A'}

In [42]:
student["age"]=33  ##update value for the key
print(student)

## --------------------------------------------------------------------------

student["address"]="India" ## added a new key and value
print(student)

{'name': 'kakarot', 'age': 33, 'grade': 'A'}
{'name': 'kakarot', 'age': 33, 'grade': 'A', 'address': 'India'}

In [43]:
del student['grade'] ## delete key and value pair

print(student)

{'name': 'kakarot', 'age': 33, 'address': 'India'}

In [44]:
## Dictionary methods

keys=student.keys() ##get all the keys
print(keys)


values=student.values() ##get all values
print(values)



items=student.items() ##get all key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['kakarot', 33, 'India'])
dict_items([('name', 'kakarot'), ('age', 33), ('address', 'India')])



---

In [45]:

## shallow copy


student_copy=student
print(student)
print(student_copy)

{'name': 'kakarot', 'age': 33, 'address': 'India'}
{'name': 'kakarot', 'age': 33, 'address': 'India'}

In [47]:
student["name"]="vegeta " ##no change if we change the first then automatically second copy will change as well.
print(student)
print(student_copy)

{'name': 'vegeta ', 'age': 33, 'address': 'India'}
{'name': 'vegeta ', 'age': 33, 'address': 'India'}

In [57]:

student_copy1=student.copy() ## shallow copy
print(student_copy1)
print(student)

{'name': 'sidd', 'age': 33, 'address': 'India'}
{'name': 'sidd', 'age': 33, 'address': 'India'}

In [58]:

student["name"]="sidd"

print(student_copy1) ## we need to focus on variable while doing this operation !

print(student)

{'name': 'sidd', 'age': 33, 'address': 'India'}
{'name': 'sidd', 'age': 33, 'address': 'India'}



---

In [61]:

### Iterating Over Dictionaries
## You can use loops to iterate over dictionatries, keys,values,or items

## Iterating over keys


for keys in student.keys(): ## alternate method !!

    print(keys)

name
age
address

In [62]:
## Iterate over values
for value in student.values():
    print(value)

sidd
33
India

In [63]:

## Iterate over key value pairs
for key,value in student.items():
    print(f"{key}:{value}")

name:sidd
age:33
address:India



---

In [64]:

## Nested Disctionaries


## Dictionaries inside another dictionaries !


students={
    "student1":{"name":"Krish","age":32},
    "student2":{"name":"Peter","age":35}
}
print(students)

{'student1': {'name': 'Krish', 'age': 32}, 'student2': {'name': 'Peter', 'age': 35}}

In [65]:

## Access nested dictionaries elementss
print(students["student2"]["name"])
print(students["student2"]["age"])

Peter
35

In [66]:
students.items()

dict_items([('student1', {'name': 'Krish', 'age': 32}), ('student2', {'name': 'Peter', 'age': 35})])



---

In [68]:
## Iterating over nested dictionaries

## REPEATATION FOR REVISION AGAIN AND AGAIN LEETCODE !


for student_id,student_info in students.items():

    print(f"{student_id}:{student_info}")

    for key,value in student_info.items():

        print(f"{key}:{value}")

student1:{'name': 'Krish', 'age': 32}
name:Krish
age:32
student2:{'name': 'Peter', 'age': 35}
name:Peter
age:35

In [69]:
## Dictionary Comphrehension

squares={x:x**2 for x in range(5)}

## x -----> key
## x -----> value

print(squares)

## write in simple for loop  and then convert it into dictionaries !

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [70]:

## Condition dictionary comprehension


evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}



---

REVISE

In [71]:
## PRACTICAL EXAMPLE !

## reVISE !

## USE DICTIONARIES TO COUNT THE FREQUENCY OF ELEMENT  IN LIST.


numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [72]:

## Merge 2 dictionaries into one

dict1={"a":1,"b":2}
dict2={"b":3,"c":4}

merged_dict={**dict1,**dict2} ## MERGED LINE !


print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}


Conclusion


Dictionaries are powerful tools in Python for managing key-value pairs. They are used in a variety of real-world scenarios, such as counting word frequency, grouping data, storing configuration settings, managing phonebooks, tracking inventory, and caching results. Understanding how to leverage dictionaries effectively can greatly enhance the efficiency and readability of your code.