<a href="https://colab.research.google.com/github/SiddhantUke/PYTHON_REVISE/blob/main/SECTION_4_(20_SETS_IN_PYTHON).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##INBUILT DATA STRUCTURES IN PYTHON



---

## Sets

Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [2]:
##create a set

my_set={1,2,3,4,5} ## ----------> Actucally curly bracket represent the set!

print(my_set)

print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [3]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [4]:

my_set=set([1,2,3,4,5,6]) ### INSIDE THIS WE CAN GIVE TUPLES/LIST/
print(my_set)

{1, 2, 3, 4, 5, 6}

In [5]:


my_empty_set=set([1,2,3,6,5,4,5,6])
print(my_empty_set) ### WHAT IF WE HAVE HERE DUPLICATE ELEMENT SO IT WILL NOT TAKE THAT ELEMENT IN O/P.

{1, 2, 3, 4, 5, 6}


## Basics Sets Operation
## Adding and Removing Elements

In [10]:
my_set.add(7) ## ----------> if we add that same element again then it will ignore the repeated element !
print(my_set)
my_set.remove(1)
print(my_set)

{1, 2, 3, 4, 6, 7}
{2, 3, 4, 6, 7}

In [11]:
my_set.discard(11) ## --------> DISCARD THE ELEMENT IF IT IS NOT THERE IN THE LIST THEN  IT WILL NOT GIVE ERROR !
print(my_set)

{2, 3, 4, 6, 7}

### pop method

In [14]:

## pop method

removed_element=my_set.pop() ## basically first in first out element !

print(removed_element)

print(my_set)

4
{6, 7}

In [15]:
## FOR CLEARING THE ELEMENT


## clear all the elements
my_set.clear()
print(my_set)

set()

In [17]:
## SET MEMBERSHIP TEST

my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [18]:

## MAthematical Operation
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

### Union -----------> COMBINE ALL THE SET !
union_set=set1.union(set2)
print(union_set)

## Intersection -------------> COMMON ELEMENT FROM  BOTH THE SETS
intersection_set=set1.intersection(set2)
print(intersection_set)


## INTERSECTION UPDATE -------------> TAKE COMMON ELEMENT AND UPDATES THAT ALL IN SET 1
set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [20]:

set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Difference -------------> REMOVED COMMON ELEMENT FROM SET 1 WITH RESPECT TO SET 2
print(set1.difference(set2))


set2.difference(set1)

{1, 2, 3}

{7, 8, 9}

In [21]:
## Symmetric Difference ----------> BOTH UNIQUE ELEMENT ARE COMBINE AND COMMON ELEMENT REMOVED
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [25]:

## Sets Methods
set1={1,2,3,4,5}
set2={3,4,5}

## is subset
print(set1.issubset(set2)) ### ---------> parent element means from set1 all the element of set2 is available.

print(set1.issuperset(set2)) ### ----------> whether it has all the element of set2

False
True

In [26]:
lst=[1,2,2,3,4,4,5] ## if we want to removed the duplicate from the list.

set(lst) ## then we have to convert that into a set!

{1, 2, 3, 4, 5}

In [27]:
### Counting Unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()

## convert list of words to set to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'discussing', 'tutorial', 'we', 'this', 'about', 'sets', 'are', 'In'}
8