<a href="https://colab.research.google.com/github/SiddhantUke/PYTHON_REVISE/blob/main/SECTION_4_(18_TUPLE).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##INBUILT DATA STRUCTURES IN PYTHON


##Tuples


Introduction to Tuples
Creating Tuples
Accessing Tuple Elements
Tuple Operations
Immutable Nature of Tuples
Tuple Methods
Packing and Unpacking Tuples
Nested Tuples
Practical Examples and Common Errors

## Introduction to Tuples

Explanation:

Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [1]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [4]:
## this list converted in tuple !

numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [5]:
## tuple can converted into list!!

list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [6]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [7]:
## ACCESSING TUPLES ELEMENTS !

numbers

(1, 2, 3, 4, 5, 6)

In [8]:
print(numbers[2])
print(numbers[-1])

3
6

In [11]:
numbers [0:3]

(1, 2, 3)

In [12]:
## Tuple Operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

#### Multiplication In Tuples

In [18]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [16]:


numbers *3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

#### Immutable Nature Of Tuples

#### Tuples are immutable, meaning their elements cannot be changed once assigned.

In [21]:
lst=[1,2,3,4,5]
print(lst)

## CONVER INTO A LIST THEN REPLACED IT !

lst[1]="Krish HERE WE ACTUCLLY DO THE REPLACEMENT "  ##REPLACEMENTS
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish HERE WE ACTUCLLY DO THE REPLACEMENT ', 3, 4, 5]

####WE CANT DIRECTLY DO THE REPLACEMENT OR CHNAGES IN TUPLES !

In [22]:

numbers

(1, 2, 3, 4, 5, 6)

INDEX AND COUNT !

In [23]:
## Tuple Methods
print(numbers.count(1))  ## COUNTING  HOW MANY THIS NO. IS PRESENT !

print(numbers.index(3)) ## WHERE THE NO. 3 IS PRESENT IN THE TUPLES !

1
2

In [24]:
## PACKING AND UNPACKING TUPLES

##PACKING

packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [26]:
##unpacking a tuple

a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [29]:
## uNPACKING WITH STAR * -----------> FROM THE STAR WHEREVER WE PUT TILL THE LAST ELEMENT IT PICKED UP !

numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [40]:

## Nested Tuple

## Nested List

lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]] ## LIST INSIDE A LIST !

lst[1][0:3] ## HERE THE FIRST BRACKET INDICATE WHICH LIST WE ACTUALLY WANT.
            ## 2ND BRACKET INDICATE THAT FROM WHICH TO WHICH.

[6, 7, 8]

In [41]:

lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]  ## INSIDE LIST WE HAVE TUPLES ALSO !
lst[2][0:3]

(1, 'Hello', 3.14)

In [46]:

nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple

print(nested_tuple[0]) ## INDICATE THE FIRST

print(nested_tuple[2][1]) ## INDICATE THE 0/1/2 WITH FROM THAT WHICH WE WANT ACTUCALLY !

(1, 2, 3)
False

In [47]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False